@import "tailwindcss";

body {
  background-color: #1E1E1E;
}
/* Target the UserButton's internal elements */
.custom-avatar .cl-userButtonTrigger,
.custom-avatar .cl-userButtonTrigger img {
  width: 40px !important; /* Set desired width */
  height: 40px !important; /* Set desired height */
  border-radius: 50%; /* Make it circular */
  object-fit: cover; /* Ensure the image scales properly */
}